
.split-line(@dpi) {
  .split-line {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      transform: scaleY(@dpi);
      background: #333;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .split-line(0.5);
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .split-line(0.2);
}
